# Copy these values into your local .env file and replace placeholders as needed.
TEST_HEX= #for debugging purposes, set this to a known military aircraft hex code to trigger a webhook for testing
BASE_URL=https://example.com #your root tar1090 instance URL
TAR1090_URL=https://example.com/data/aircraft.json #your tar1090 aircraft.json URL
WEBHOOK_URL=https://example.com/webhook #your Discord/Fluxer webhook URL
CONTACT_INFO=example@example.com #your contact email for compliance purposes to get plane photos